.gradle/
**/.gradle/
build/
**/build/

.idea/
*.iml
out/
**/out/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/httpRequests/

app/build/
*.apk
*.aab
*.ap_
*.dex
/captures/
/.externalNativeBuild/
/.cxx/
local.properties

.env
.env.*

*.log
logs/

.DS_Store
Thumbs.db
Desktop.ini